
@font-face {
    font-family: headline;
    src: url(./assets/Futura-Bold.woff2);
}

@font-face {
    font-family: para;
    src: url(./assets/helvetica-now-text-regular-woff-2-4479bd.woff2);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
font-family: para;
font-size: 2.66vw;
}

main{
    padding: 0 .8rem;
    background-color: #ececec;
    
}

section{
    width: 100%;
    position: relative;
}

*::selection{
    color: white;
    background-color: black;
}

#cursor{
    display: flex;
    justify-content: center;
    width: 15px;
    height:15px;
    position: fixed;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: .4rem;
    transform: translate(-50%,-50%);
    z-index: 10;
    top: -10px;
    left: 0;
    user-select: none;
    pointer-events: none;
}


/* --------------------------------------------------------------------------------------- */


/* page-1 start */

#page1{
    /* border: 2px solid rebeccapurple; */
    padding-bottom: 1rem;
    padding-top: 30vh;
    /* padding-top: 10px; */
}


#page1 h1{
    text-transform: uppercase;
    font-family: headline;
    font-weight: 900;
    text-align: center;
    font-size: 6rem;
    word-spacing: -.4rem;
    line-height: 5.2rem;
    letter-spacing: -.3rem;
}

#page1 h1 span{
    display: inline-block;
}


nav{
    width: 100%;
    height: 80px;
    /* background-color: rebeccapurple; */
    position: fixed;    
    top: 3%;
    left: 0;
    padding: 0 .8rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    z-index: 9;
}


nav a{
    color: black;
    text-decoration: none;
    /* font-size: 20px; */
    position: relative;
}

#nav-rgt{
    /* background-color: red; */
    display: flex;
    /* align-items: start; */
    gap: 70px;
    font-size: 15px;

}

.nonstick{
    /* background-color: red; */
    color: black;
    height: 30px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 70px;
}

.stick{
    background-color: #ececec;
    color: black;
    height: 30px;
    /* width: 100px; */
    gap: 70px;
    border-radius: 25px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0px 12px;
}

.stick i:hover{
    font-weight: 900;
    cursor: pointer;
}

.nav-under{
    overflow: hidden;
}
.nav-under:hover{
    color: rgb(118, 118, 118);
}

.nav-under::after{
    content: "";
    position: absolute;
    width:80%;
    height: 1px;
    background-color: rgb(138, 138, 138);
    bottom: 0px;
    left: -80%;
    transition: all ease .8s;

}

.nav-under:hover::after{
    left: 100%;
}
#logo{
    /* background-color: red; */
    /* display: flex; */
    position: relative;
    overflow: hidden;    
}
#lg-1{
    width: 100%;
    height: 100%;
}
#lg-2{
    position: absolute;
    bottom: -250%;
    width: 100%;
    height: 95%;
    left: -10%;
}



/* page-1 end */


/* ------------------------------------------------------------------------------------------- */

/* page-2 start */


#page2 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* page-2 end */


/* ------------------------------------------------------------------------------------------------ */


/* page-3 start  */



#page-3-line{
    display:flex;
    justify-content:space-between;
    font-size: clamp(12px,.4rem,15px);
    align-items:center;
    /* padding-bottom: 4px; */
    padding-top: 20px;
    border-bottom: 1px solid black;
}

#cards{
    padding-top: 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
}
.elem{
    width: 32%;
    height: 18rem;
    /* background-color: red; */
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
}

.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
    object-position: center 100%;
}

.card{
    width: 60%;
    border-radius: 25px;
    height: 50px;
    background-color: #e7f0d8;
    position:absolute;
    top:40%;
    z-index: 5;
    overflow: hidden;
}

.vis{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height: 50px;
    font-size: 12px;
}

.novis{
    display: flex;
    font-size: 12px;
    width: 100%;
    height: 150px;
    display: flex;

}
.novis div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: end;
    gap: 20px;
    padding-bottom: 10px;
}
.novis img{
height: 60%;
width: 50%;
}

.vis>div{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
}

.page{
    height: 100vh;
}

/* page-3 end */

/* --------------------------------------------------------------------------------------------- */

/* page-4 start */


#page4{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

#lft-4{
    font-family: headline;
    font-size: 38px;
    /* font-size: clamp(1.4rem,); */
    line-height: 1;
    width: 50%;
}
#rgt-4{
    width: 32%;
    font-size: 16px;
    display:flex;
    flex-direction: column;
    gap: 34px;
    /* padding-right: 100px; */
    line-height: 1.5;
    font-weight: 500;
    color: rgb(58, 58, 58);
}
#rgt-4 p{
    width: 75%;
}

#rgt-4 p:nth-child(3){
    font-size: 12px;
    position: relative;
    /* background-color: rebeccapurple; */
    width: fit-content;
    cursor: pointer;
}
.underline::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(118, 118, 118);
    bottom: -8px;
    left: 0;
}

.underline::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: #ececec;
    transition: all ease .8s;
    bottom: -8px;
    left: -80%;
    z-index: 2;
}


.underline:hover::before{
    left: 100%;
}



/* page-4 end */

/* -------------------------------------------------------------------------------------------- */

/* page-5 start */


#page5{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    cursor: pointer;
    /* background-color: rebeccapurple; */
}

.sect-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid white; */
}


.sect-bottom{
    font-size: 13px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.sect-bottom div{
    width: 45%;
    text-align: center;
    display:flex;
    justify-content:center;
    flex-direction: column;
    gap: 8px;
    align-items:center;
    /* border: 1px solid red; */

}

.sect-top img{
    width: 50%;
    object-fit: cover;
}
.sect:nth-child(2) .sect-top{
    justify-content: space-around;
}
.sect:nth-child(2) .sect-top img{
    width: 42%;

   
}



/* page-5 end */


/* ------------------------------------------------------------------------------------------ */


/* page-6 start */

#page6{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#page6-line{
    display:flex;
    justify-content:space-between;
    font-size: clamp(12px,.4rem,15px);
    align-items:center;
    /* padding-bottom: 4px; */
    padding-top: 20px;
    border-bottom: 1px solid black;

}
#page6-line p:nth-child(2){
    text-align: right;
    padding-left: 25px;
}


#in-page6{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

#pg6-rgt{
    width: 62%;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    overflow: hidden;
}
#pg6-rgt img{
    object-position: 0% -15px; 
    scale: 1.1;
    width: 46%;
    height: 100%;
}

#pg6-lft {
    text-align: left;
    display: flex;
    width: 25%;
    flex-direction: column;
    gap: 40px;
  
}

#pg6-lft h1{
    font-size: 28px;
    font-family: headline;
}

#pg6-lft p{
    font-size: 15px;
    line-height: 1.4;
}
#pg6-lft p:nth-child(5){
    font-size: 10px;
    word-spacing: .15rem;
    letter-spacing: .04rem;
    cursor: pointer;
}
.pg6-btn{
    position: relative;
    width: fit-content;
}



/* page-6 end */

/* -------------------------------------------------------------------------------------------- */

/* page-7 start  */


#page7{
    border-top: .5px solid rgb(114, 114, 114);
    padding-top: 2rem;
    padding-bottom: 1rem;

}

#pg7-top{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

#pg7-top ul{
 display: flex;
 flex-direction: column;
 gap: 5px;
}

#pg7-top ul li a:hover{
    color: rgb(105, 105, 105);

}

#pg7-top p{
    margin-bottom: 15px;
    font-size: 13px;
    color: rgb(105, 105, 105);
}

#pg7-top #t-rgt{
    text-align: right;
}

#pg7-top ul a{
    color: black;
    text-decoration: none;
}

#pg7-top ul{
    list-style: none;
}

#pg7-btm{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 80px;
    font-size: 14px;
    align-items: center;
}

#pt1{
    display: flex;
    gap: 50px;
    font-size: 12px;
    color: rgba(105, 105, 105, 0.82);
}

#pt1 p:not(:first-child){
    cursor: pointer;
}
#pt2{
    width: 70%;
}
#pt2 p{
    text-align: center;
    line-height: 1.55;
}

#t-mid{
    position: relative;
    width: 250px;
    height: 250px;

}
#t-mid>svg{
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 100%;
}

#svg{
    display: none;
}



/* page-7 end */




/* --------------------------------------------------------------------------------------------- */

/* media queries */

@media screen and (max-width:1023px) {

    #svg{
        display: block;
        width: 100%;
        height: clamp(120px,36vw,220px);
        /* background-color: rgb(125, 99, 66); */
        margin:20px 0;
        position: relative;
    }
    #svg>svg{
        width: clamp(110px,36vw,210px);
        height: 100%;
        position: absolute;
        left: 0;
        top: 102px;
        /* background-color: yellow; */
    }

    #page7{
        /* padding-top: max(2rem, 40px); */
        padding-top: 0px;
    }

    #t-mid{
        display: none;
    }


    #pg7-top #t-rgt{
        text-align: left;
    }
    #pg7-top{
        position: relative;
        width: clamp(0px,100%,600px);
    }

    #pg7-btm{
        flex-direction: column-reverse;
        gap: 50px;
        padding-top: 40px;
    }
    #pg7-btm #pt2 p{
        width: 100%;
        line-height: 1.4;
        text-align: left;
    }
    #pg7-btm #pt2{
        width: 100%;
    }
    #pg7-top p{
        font-size: min(1.2rem, 13px);
    }

    #pt1{
        justify-content: space-between;
        width: 100%;
    }
    #pt1 p{
        text-align: center;
    }

    main{
        padding: 0 1rem;
    }
    .nonstick{
        display: none;
    }

    
.stick{
    gap: 40px;
    font-size: 18px;
}
    #lg-1{
        width: 80%;
        padding-left: 5px;
    }
    #lg-2{
        width: 70%;
        bottom: -240%;
        padding-left: 12px;
    }

    #page1 h1{
        font-size: 5.7rem;
        letter-spacing: -.1rem;

    }
    #cards{
        flex-direction: column;
        gap: 15px;
    }
    .elem{
        width: 100%;
        height: 80vmax;
    }
    .card{
        width: clamp(280px,30%,50%);
    }
    #page4{
        flex-direction: column;
        gap: 30px;
        text-align: center;
        padding-top: 50px;

    }
    #lft-4{
        width: 100%;
        /* font-size: 7vw; */
    }
    #lft-4 h1{
        font-size: clamp(35px,3rem,38px);

    }
    #rgt-4{
        width: 100%;
        /* padding-right: 0; */
        font-size: 17px;
        line-height: 1.3;

    }
    #rgt-4 p:nth-child(3){
        font-size: 12px;
        /* font-weight: 600; */
        color: rgb(80, 80, 80);
        margin: 0 auto;
    }
    #rgt-4 p{
        width: 100%;
    }
    .sect-bottom {
        /* font-size: 12px; */
        padding-top: 20px;
    }

    #in-page6{
        flex-direction: column-reverse;
    }
    #pg6-rgt{
        width: 100%;
    }

    #pg6-rgt img{
        width: 42%;
        scale: 1.3;
    }

    #pg6-lft{
        width: 100%;
        padding-top: 20px;
        gap: 30px;
    }
    #pg6-lft p:not(:last-child){
        width: clamp(10px,100%,600px);
        font-size: 14px;
    }
    #pg6-lft p:nth-child(5){
        font-size: 11px;
        word-spacing: .2rem;
        letter-spacing: .05rem;
    }

}