
@font-face {
    font-family: "roboto" ;
    src: url(./assets/roboto-flex-variable-full.woff2);
}
@font-face {
    font-family: "light" ;
    src: url(./assets/matter-light.woff2);
}
@font-face {
    font-family: "regular" ;
    src: url(./assets/matter-regular.woff2);
}

@font-face {
    font-family: "averta";
    src: url(./assets/Averta.ttf);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
font-size: 2.66vw;
font-family: "regular";
width: 100%;
height: 100%;
}

main{
    font-size: .42rem;
    width: 100%;
}

#home{
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
}

nav{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}

#nav-rgt{
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav-rgt i{
    font-size: .65rem;
    opacity: .8;
    cursor: pointer;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: .4rem;
    color: black;
}

.container{
    width: 80%;
    margin-inline: auto;
}

#hero{
    margin-block: 5.2rem;
}
#hero h3{
    font-size: .55rem;
    letter-spacing: -1px;
}
#hero h1{
    letter-spacing: -6px;
    line-height: 1;
    /* word-spacing: -5px; */
    font-size: 2.9rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: .1px rgba(0, 0, 0, 0.5);

}

#home-p{
    padding: 1rem 0;
}

#home-p p{
    font-weight: 900;
    width: 60%;
    line-height:1.5;
    font-size: .6rem;
    font-family: "averta";
}

#home-p ::selection{
    color: white;
    background-color: black;
}